@{layout('')}
@{title('Files')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all,follow" />
	<link href="//cdn.componentator.com/spa.min@16.css" rel="stylesheet" />
	<script src="//cdn.componentator.com/spa.min@16.js"></script>
	<script src="//cdn.totaljs.com/openplatform.min@3.js"></script>
	@{import('meta', 'head', 'default.css', 'favicon.ico', 'default.js')}
</head>
<body data-jc="exec">

	<div data-jc="LAZY suggestion__null__placeholder:@(Search ...)"></div>
	<div data-jc="avatar"></div>

	<div data-bind="common.ready__show:value" class="hidden">
		<div class="mainmenu">
			<div class="mainmenu-search">
				<button class="button exec" data-exec="Main/contacts"><i class="fa fa-user-circle"></i>@(Address book)</button>
			</div>
			<div class="scroller">
				<nav data-jc="contacts__chat.contacts__select:Main/select;remove:Main/remcontact;append:Main/addcontact;unread:Main/unread">
					<script type="text/html">
						<li data-id="{{ id }}" class="jR{{ if unread }} unread{{ fi }}{{ if sessions }} online{{ fi }}"><i class="fa fa-times exec" data-exec="Main/remove"></i><span><i class="fa fa-circle"></i></span>{{ name }}</li>
					</script>
				</nav>
			</div>
		</div>

		<div class="body">
			<div class="scroller" data-margin="80">
				<div data-jc="messages__chat.items">
					<script type="text/html">
						<div class="ui-messages-container{{ if owner.owner }} ui-messages-owner{{ fi }}">
							<div class="ui-messages-photo avatar" data-a-url="{{ owner.photo }}">{{ owner.name }}</div>
							<div class="ui-messages-body">
								<div class="ui-messages-date"><span class="time" data-date="{{ created | format }}">{{ created | time }}</span><i class="fa fa-clock-o"></i></div>
								<div class="ui-messages-user">{{ owner.name }}{{ if owner.owner }} <span>@(you)</span>{{ fi }}</div>
								<div class="ui-messages-ip">{{ if mobile }}<i class="fa fa-tablet"></i>{{ fi }}{{ ip }}</div>
								<div>{{ body }}</div>
							</div>
						</div>
					</script>
				</div>
			</div>
			<div class="newmessage-container newmessage-hidden" data-bind="common.selected__.newmessage-hidden:!value">
				<div class="newmessage" data-jc="newmessage__newmessage.body__exec:Main/submit">
					<div class="newmessage-button"><button disabled data-bind="@__disabled:!value || !value.length"><i class="fa fa-keyboard"></i>@(SEND)</button></div>
					<div class="newmessage-input"><input type="text" placeholder="@(Type a message)" maxlength="1000" data-jc-bind="" /></div>
				</div>
			</div>
		</div>
	</div>

	<div data-jc="importer__common.state__if:ready">
		<script type="text/html">
			<div data-jc="websocket__null__url:/"></div>
		</script>
	</div>

	@{json(user, 'userdata')}

	<script>

		var user = PARSE('#userdata');
		var common = {};
		var chat = {};

		common.page = '';

		ON('request', function(options) {
			if (options.url.indexOf('.') === -1)
				options.url = OPENPLATFORM.tokenizator(options.url);
		});

		PLUGIN('Main', function(exports) {

			exports.contacts = function(el) {
				var items = [];
				SETTER('suggestion', 'show', 'left', el, common.users.findAll(FN('n => n.id !== user.id')), function(item) {
					var id = item.id;
					if (!chat.contacts.findItem('userid', id)) {
						SETTER('websocket', 'send', { TYPE: 'contacts-add', userid: id });
						PUSH('chat.contacts', { userid: id });
					}
				}, 5, 5);
			};

			// Select contact
			exports.select = function(id) {

				if (common.selected === id)
					return;

				common.selected = id;
				AJAX('GET /api/messages/{0}/'.format(id), function(response) {
					response.reverse();
					SET('chat.items', response);
					var u = common.users.findItem('id', id);
					SET('common.page', 'chat');
					UPDATE('common.selected');
				});
			};

			exports.unread = function(id) {
				SETTER('websocket', 'send', { TYPE: 'unread', userid: id });
			};

			exports.addcontact = function(id) {
				id && SETTER('websocket', 'send', { TYPE: 'contacts-add', userid: id });
			};

			// Remove contact
			exports.remcontact = function(id) {
				id && SETTER('websocket', 'send', { TYPE: 'contacts-rem', userid: id });
			};

			// Submit message
			exports.submit = function(com) {
				var val = com.get();
				var data = {};

				data.userid = common.selected;
				data.body = val;

				AJAX('POST /api/messages/', data, NOOP);
				com.set('');
			};

		});

		ON('location', function() {
			$('.mainmenu').rclass('mainmenu-visible');
		});

		ON('knockknock', function() {
			$('.time').each(function() {
				var el = $(this);
				el.html(Thelpers.time(el.attrd('date').parseDate()));
			});
		});

		ON('online', function(is) {
			OPENPLATFORM.loading(!is);
		});

		ON('message', function(msg) {

			switch (msg.TYPE) {

				case 'init':
					WAIT('common.users', function() {
						SETTER('websocket', 'send', { TYPE: 'contacts' });
					});
					break;

				case 'contacts':
					SET('chat.contacts', msg.items);
					break;

				case 'open':
				case 'close':
					SETTER('contacts', 'online', msg.id, msg.sessions);
					break;

				case 'message':

					if (msg.ownerid !== user.id)
						OPENPLATFORM.play('/knockknock.mp3');

					if (common.selected === msg.userid || common.selected === msg.ownerid)
						SETTER('messages', 'push', msg);
					else
						SETTER('contacts', 'unread', msg.ownerid, 1);

					break;

				case 'unread':
					WAIT('chat.contacts', function() {
						for (var i = 0; i < msg.items.length; i++) {
							var u = msg.items[i];
							SETTER('contacts', 'unread', u.userid, u.count);
						}
					});
					break;
			}
		});

		Tangular.register('username', function(val) {
			var user = common.users.findItem('id', val);
			return user ? user.name : 'user not found';
		});

		Tangular.register('unread', function(id) {
			return chat.unread && chat.unread[id] ? ' b' : '';
		});

		Tangular.register('online', function(id) {
			return chat.online && chat.unread[id] ? ' b' : '';
		});

		OPENPLATFORM.on('menu', function() {
			$('.mainmenu').tclass('mainmenu-visible');
		});

		Tangular.register('time', function(value) {
			var diff = Date.now() - (value instanceof Date ? value : value.parseDate()).getTime();

			var minutes = ((diff / 1000) / 60) >> 0;
			if (minutes < 60) {
				if (minutes < 3)
					return 'now';
				return minutes + ' minutes ago';
			}

			var hours = (minutes / 60) >> 0;
			if (hours < 24)
				return hours + ' ' + Tangular.helpers.pluralize(hours, 'hours', 'hour', 'hours', 'hours') + ' ago';

			var days = (hours / 24) >> 0;
			if (days < 30)
				return days + ' ' + Tangular.helpers.pluralize(days, 'days', 'day', 'days', 'days') + ' ago';

			var months = (days / 29) >> 0;
			if (months < 12)
				return months + ' ' + Tangular.helpers.pluralize(months, 'months', 'month', 'months', 'months') + ' ago';

			var years = (months / 12) >> 0;
			return years + ' ' + Tangular.helpers.pluralize(years, 'years', 'year', 'years', 'years') + ' ago';
		});

		SETTER(true, 'avatar', 'register', 'list', 'size:20');

	</script>

</body>
</html>